<% starting_riders = team.riders_array.intersection(race.startlist) %>

<div class='race'>
  <h3>
    <a href="http://<%= race.pcs_url %>"><%= race.name %></a>
    <span class='date'><%= race.dates %></span>
  </h3>
  <% unless starting_riders.empty? %>
    <div class='riders-found'>
      <%= starting_riders.map(&:titleize).join(', ') %>
    </div>
  <% else %>
    <div class='no-riders'>No riders found</div>
  <% end %>
</div>
