<% starting_riders = team.riders_array.intersection(race.startlist)%>

<div class ='race'>
  <h3>
    <a href=<%= "http://#{race.pcs_url}" %>><%= race.name %></a>
    <span class='date'>&nbsp;&nbsp;&nbsp;<%= race.dates %></span>
  </h3>
  <div>
    <% unless starting_riders.empty? %>
      <div>
        <%= starting_riders.map(&:titleize).join(', ') %>
      </div>
    <% else %>
      <div><i>No riders found</i></div>
    <% end %>
  </div>
</div>
