<% @starting_riders = team.riders_array.intersection(race.startlist)%>

<div class ='race'>
  <h3>
    <a href=<%= "https://www.procyclingstats.com/race/#{race.pcs_name}/2023/startlist" %>><%= race.name %></a>
    <span class='date'>&nbsp;&nbsp;&nbsp;<%= race.dates %></span>
  </h3>
  <div>
    <% unless @starting_riders.empty? %>
      <div>
        <%= @starting_riders.map(&:titleize).join(', ') %>
      </div>
    <% else %>
      <div><i>No riders found</i></div>
    <% end %>
  </div>
</div>
