<%= render 'search' %>

<% @teams.each do |team| %>
  <div class='results'>
    <h2><%= team.name %> - <%= team.ds %></h2>
    <% @races[team.team_type].each do |race| %>
      <%= render 'race', race: race, team: team %>
    <% end %>
  </div>
<% end %>

<% if @teams.empty? %>
  <div class='no-teams'>
    <h2>No teams found!</h2>
  </div>
<% end %>
